.auto {
    margin: auto;
    text-align: center;
}

.alert {
    background-color: $base-color;
    border: 1px solid $border-dark;
    height: $alert-box-size/2;
    width: $alert-box-size;
}

.analysis-table {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #f0e
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    padding: 1em
}

.chart {
    max-width: 85%;
    max-height: 80%;
}

.landingpage ul,
.landingpage h2,
.landingpage h3,
.landingpage h4,
.landingpage h5,
.landingpage h6,
.landingpage table {
    grid-column: 2/4;
}

.landingpage p {
    grid-column: 1/1;
}

@media (max-width: 376px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
