.auto {
    margin: auto;
    text-align: center;
}

.alert {
    background-color: $base-color;
    border: 1px solid $border-dark;
    height: $alert-box-size/2;
    width: $alert-box-size;
}

.analysis-table {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #f0e
}

.landingpage-kmom ul,
.landingpage-kmom h1,
.landingpage-kmom h2,
.landingpage-kmom h3,
.landingpage-kmom h4,
.landingpage-kmom h5,
.landingpage-kmom h6,
.landingpage-kmom table {
    grid-column: 2/2;
}

@media (max-width: 767px) {
    .landingpage-kmom ul,
    .landingpage-kmom h1,
    .landingpage-kmom h2,
    .landingpage-kmom h3,
    .landingpage-kmom h4,
    .landingpage-kmom h5,
    .landingpage-kmom h6,
    .landingpage-kmom table {
        grid-column: 1/1;
    }
}
